<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Machine Learning - GA Housing</title>
 
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  

    <!-- Normalize Style -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" />
    <script src="https://d3js.org/d3.v5.min.js"></script>
<!--     
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
  </head>
  

<body>

     <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link disabled" href="/">Machine Learning</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Links</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/unsup">Unsupervised ML</a>
          <a class="dropdown-item" href="/linear">Supervised ML</a>
          <a class="dropdown-item" href="https://public.tableau.com/app/profile/kamila3960/viz/HousePredictionviz/Dashboard2">Tableau - economics</a>
          <a class="dropdown-item" href="https://public.tableau.com/app/profile/kamila3960/viz/houseprice_16537439479050/Dashboard1">Tableau - pricing</a>
          <a class="dropdown-item" href="https://public.tableau.com/app/profile/carolina.segovia/viz/HousePredictionviz_2/Dashboard3?publish=yes">Tableau - Mix</a>

        </div>
      </li>
    </ul>
   
   
    <div class="container-fluid">
      <div id="page-holder">
        <h1>Georgia Housing Pricing - "A Machine Learning Approach"</h1>
        <p>A subset of artificial intelligence (AI), machine learning (ML) is the area of computational science that focuses on analyzing and interpreting patterns and structures in data to enable learning, reasoning, and decision making outside of human interaction. Simply put, machine learning allows the user to feed a computer algorithm an immense amount of data and have the computer analyze and make data-driven recommendations and decisions based on only the input data. In this project...
          </p>
        <div class="row">
          <div class="col-sm-12 text-light bg-light" id="map-holder">NPS<div id="map"></div>
          </div>
        </div>
      </div>
    </div>
   
  
    <div class="container-fluid"> 
  
       
      <div class="row">
      <div class="col-md-12">
        <img class="card-img-top" src="https://www.lucidity.co.nz/wp-content/uploads/Unorganized/machine-learning.png" alt="ml_image">
      </div>

      <!-- <div class="row">
        <div class="col-md-6">
          <div id="scatter" >
            </div>
          </div>
      <div class="col-md-6">
        <div id="line"></div>
      </div>
    </div> -->
    </div>
  </div>


  
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> 
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<!-- <script src="/static/js/app.js"></script> -->
</body>

</html>
